.instagram {
  text-align: center;
  .title {
    font-family: 'Pacifico';
    text-align: center;
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .instagram {
    .title {
      margin-top: 50px;
    }
  }
}