.category {
  margin: 30px 0;
  .gutter-row {
    .categoryImg {
      text-align: center;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      .button {
        position: absolute;
        bottom: 0;
        left: 15px;
        background-color: #218c74;
        color: white;
        align-items: center;
        text-align: center;
        font-family: 'Pacifico';
        height: 55px;
        width: 92.5%;
        font-size: 32px;
        border: #218c74;
      }
    }
    .categoryImg-1 {
        background-image: url('../../images/Womens-Image.jpg');
      }
      .categoryImg-2 {
        background-image: url('../../images/Mens-Image.jpg');
      }
      .categoryImg-3 {
        background-image: url('../../images/Accessories-Image.jpg');
      }
  }
}

@media (min-width: 768px) {
  .category {
    .gutter-row {
      .categoryImg {
        height: 435px;
      }
    }
  }
}

@media (max-width: 767px) {
  .category {
    .gutter-row {
      margin-bottom: 20px;
      .categoryImg {
        height: 500px;
        .button {
          left: 5px;
          width: 97%;
        }
      }
      .categoryImg-3 {
        .button {
          width: 100%;
        }
      }
    }
  }
}