.generic-component {
  background-image: url('../../images/Hero-Image-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  .text-wrapper {
    float: right;
    padding-right: 8%;
    .title {
      font-family: 'Pacifico';
      color: white;
      font-size: 36px;
      padding-top: 220px;
      margin-bottom: 0;
    }
    .tagline {
      font-family: 'Lato-Light';
      color: white;
      font-size: 32px;
    }
    .cta {
      background-color: #218c74;
      border: #218c74;
      color: white;
    }
  }
}