.header {
  margin: 0;
  height: 100px;
  background-color: #218c74;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  .nav-link {
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-family: 'Lato-Light';
    .logo {
      max-width: 100px;
      width: 100%;
      display: inline;
    }
  }
}