.header {
  margin: 0;
  height: 45px;
  background-color: #218c74;
  color: white;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  .nav-link {
    padding: 20px;
    color: white;
    display: inline;
    text-decoration: none;
    font-family: 'Lato-Light';
    .logo {
      max-width: 40px;
    }
  }
}