.footer {
  padding: 20px 40px;
  background-color: black;
  .title {
    color: white;
    font-family: 'Pacifico';
    font-size: 18px;
    margin-bottom: 0;
  }
  a {
    color: white;
    font-family: 'Lato-Light';
  }
}